.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(6px);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar h1 {
  font-size: 2rem;
  color: #00bfff;
  letter-spacing: 2px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar ul li {
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
}

.navbar ul li:hover {
  color: #00bfff;
  font-weight: 600;
  transform: scale(1.1);
}
